/*
* Flexslider Direction Nav
* 
* @package WP Longshore
* @subpackage CSS
*/

.flex-direction-nav {*height: 0; position: absolute; bottom: 25px; right: 15px; z-index: 10;}

	.flex-direction-nav li { display: inline-block; margin: 0;}

		.flex-direction-nav a { padding: 8px 14px; max-width: 36px; text-align: center; line-height: normal; display: inline-block; background: #18191b; color: #fff; cursor: pointer; opacity: 1;}
			.flex-direction-nav a:hover { background: #363636;}

				.flex-direction-nav .flex-prev { left: 0; margin: 0 2px 0 0;}
				.flex-direction-nav .flex-next { right: 0;}

					.flex-direction-nav .flex-prev { font-size: 0;}
						.flex-direction-nav .flex-prev:before { font-family: "FontAwesome"; font-size: 16px; content: "\f104";}

					.flex-direction-nav .flex-next { font-size: 0;}
						.flex-direction-nav .flex-next:before { font-family: "FontAwesome"; font-size: 16px; content: "\f105";}